.moviescardlist {
  margin: 0 0 10px 0;
  padding: 0;
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Inter', 'Arial', sans-serif;
}

.moviescardlist__list {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  display: flex;
  gap: 30px;
  row-gap: 56px;
  flex-wrap: wrap;
  padding: 0;
}

@media screen and (max-width: 1140px) {
  .moviescardlist__list {
    max-width: 1000px;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .moviescardlist__list {
    max-width: 768px;
    row-gap: 90px
    ;
  }
}

@media screen and (max-width: 360px) {
  .moviescardlist {
    margin: 15px 0 10px 0
  }

  .moviescardlist__list {
    margin: 18px auto 0;
    max-width: 300px;
    row-gap: 50px;
  }
}
