.about-me {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', 'Arial', sans-serif;
}

.about-me__title {
  max-width: 1140px;
  width: 100%;
  margin: 111px 0 65px 0px;
  padding-bottom: 24px;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid #dadada;
}

.about-me__profile {
  margin: 0;
  margin-bottom: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-me__content {
  max-width: 660px;
  width: 100%;
  /* margin: 0 auto; */
  color: #fff;
}

.about-me__name {
  margin: 0;
  padding-left: 70px;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}

.about-me__job {
  margin: 20px 0px 0 0px;
  padding-left: 70px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.4px;
}

.about-me__text {
  margin: 24px 0px 97px 0px;
  padding-left: 70px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.about-me__link {
  padding-left: 70px;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.about-me__link:hover {
  opacity: 0.7;
}
.about-me__pic {
  max-width: 270px;
  width: 100%;
  padding-right: 70px;
  border-radius: 10px;
  object-fit: contain;
}

@media screen and (max-width: 850px) {
  .about-me__content {
    max-width: 430px;
  }

  .about-me__title {
    max-width: 740px;
    margin: 90px 0 67px 0px;
  }

  .about-me__name {
    margin: 0;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1px;
  }

  .about-me__profile {
    margin: 0 50px 90px 0;
  }

  .about-me__job {
    margin: 15px 0px 0 0px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__text {
    margin: 19px 0px 86px 0px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__pic {
    max-width: 255px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 768px) {
  .about-me__title {
   max-width: 668px;
    margin: 90px 0 67px 0px;
  }
}

@media screen and (max-width: 566px) {
  .about-me__profile {
    margin: 0 auto;
    margin-bottom: 70px;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    letter-spacing: -1px;
  }

  .about-me__title {
    width: 91%;
    margin: 93px 0 67px 0px;
    font-size: 18px;
    padding-bottom: 29px;
  }

  .about-me__pic {
    max-width: 292px;
    padding: 0;
    align-self: center;
  }

  .about-me__name {
    margin: 32px 0 0 14px;
    padding: 0;
    font-size: 30px;
    line-height: normal;
  }

  .about-me__job {
    margin: 21px 0px 0 14px;
    padding: 0;
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__text {
    font-size: 11px;
    line-height: 16px;
    margin: 19px 0px 40px 14px;
    padding: 0;
  }

  .about-me__link {
    padding: 0;
    margin-left: 14px;
  }

  .about-me__content {
    max-width: 100%;
  }

  @media screen and (max-width: 390px) {
    .about-me__title {
      margin-bottom: 59px;
    }

    .about-me__name {
      margin-top: 38px;
    }

    .about-me__text {
      max-width: 292px;
      letter-spacing: 0.1px;
    }
  }
}
