.searchform {
  max-width: 1280px;
  width: 100%;
  margin: 58px auto 48px;
  padding: 0;
  font-family: 'Inter', 'Arial', sans-serif;
}
.searchform__container{
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 70px 14px 70px;
}
.searchform__input-container {
  margin: 0 20px 0 0;
  padding: 14px 0 15px 13px;
  width: 100%;

}

.searchform__input {
  margin: 0 20px 0 0;
  padding: 14px 0 15px 13px;
  width: 100%;
  color: #8b8b8b;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  background-color: #2f2f2f;
  border: none;
  border-radius: 8px;
  outline: none;
}

.searchform__input:focus {
  outline: none;
  border-bottom: 1px solid #fff;
}

.searchform__btn {
  width: 44px;
  height: 44px;
  background-image: url('../../../images/search-button.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 40px 40px;
  background-color: #4285f4;
  object-fit: contain;
  border-radius: 5px;
  border: none;
  padding: 0;
}

.searchform__checkbox-conteiner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.searchform__checkbox {
  position: absolute;
  z-index: -2;
  opacity: 0;
}

.searchform__label {
  color: #fff;
  font-size: 13px;
  line-height: 18px;
  display: inline-flex;
  align-items: center;
  user-select: none;
  text-align: center;
}

.searchform__checkbox + .searchform__label::before {
  display: inline-block;
  width: 36px;
  height: 20px;
  margin-right: 14px;
  flex-shrink: 0;
  flex-grow: 0;
  content: '';
  background-image: url('../../../images/filter-on.svg');
  border: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}

.searchform__checkbox:checked + .searchform__label::before {
  width: 36px;
  height: 20px;
  background-image: url('../../../images/filter-off.svg');
}

.searchform__line {
  max-width: 1140px;
  margin: 40px auto 0;
  border: 0.5px #424242 solid;
}

@media screen and (max-width: 768px) {
  .searchform {
    max-width: 708px;
  }

  .searchform__input-container {
    margin: 0;
    outline: none;
  border-bottom: 1px solid #a0a0a0;
  }

  .searchform__checkbox-conteiner {
    padding-top: 44px;
    letter-spacing: -0.7px;
  }
}
@media screen and (max-width: 720px) {
  .searchform {
    max-width: 500px;
    width: 100%;
    margin: 70px auto 15px;
    /* margin: 0 auto; */
  }
}
@media screen and (max-width: 510px) {
  .searchform {
    max-width: 320px;
  }
}
@media screen and (max-width: 320px) {

  .searchform__input-container {
    max-width: 292px;
    margin: 0 auto;
    margin-right: 15px;
    
  }

  .searchform__checkbox-conteiner {
    /* margin-top: 30px; */
    margin-top: 0;
  }

  .searchform__label {
    font-size: 11px;
  }

  .searchform__line {
    max-width: 292px;
  }

  .searchform__btn {
    width: 51px;
  }
}
